.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  background-color: #d70000;
  background: linear-gradient(to right, #d70000, #000000);
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

.menu a:hover {
  color: #ff0000;
}